<md-toolbar color="primary">
  <span>{{title}}</span>
  <button md-mini-fab class="info" color="primary"><md-icon (click)="info()">info_outline</md-icon></button>
</md-toolbar>

<md-grid-list cols="2" rowHeight="450px">
  <md-grid-tile>
    <app-visor [title]="'Alignment 1 (ref)'" (mappingsParsed)="set_mappings1($event)"></app-visor>
  </md-grid-tile>
  <md-grid-tile>
    <app-visor [title]="'Alignment 2'" (mappingsParsed)="set_mappings2($event)"></app-visor>
  </md-grid-tile>
</md-grid-list>

<div class="measures">
  <button md-raised-button color="accent" (click)="evaluate()" [disabled]="mappings1.length == 0 || mappings2.length == 0">Evaluate</button><br>
  <br>
  <label>True positives: </label><span>{{true_positives}}</span><br>
  <label>False positives: </label><span>{{false_positives}}</span><br>
  <label>False negatives: </label><span>{{false_negatives}}</span><br>
  <br>
  <label>Precision: </label><span>{{precision | number:'1.3-3'}}</span><br>
  <label>Recall: </label><span>{{recall | number:'1.3-3'}}</span><br>
  <label>F-measure: </label><span>{{f_measure | number:'1.3-3'}}</span><br>
</div>

<h3>Mismatched</h3>
<md-grid-list cols="2" rowHeight="400px">
  <md-grid-tile>
    <app-mappings-table [mappings]="not_mappings1" class="mappings_table"></app-mappings-table>
  </md-grid-tile>
  <md-grid-tile>
    <app-mappings-table [mappings]="not_mappings2" class="mappings_table"></app-mappings-table>
  </md-grid-tile>
</md-grid-list>