<div class="ng_table">
  <ng2-md-datatable>
    <ng2-md-datatable-header>
      <ng2-md-datatable-column sortableValue="entity1">Entity1</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="relation">Relation</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="entity2">Entity2</ng2-md-datatable-column>
      <ng2-md-datatable-column sortableValue="measure" numeric>Measure</ng2-md-datatable-column>
    </ng2-md-datatable-header>
    <tbody>
      <ng2-md-datatable-row *ngFor="let mapping of mappings">
        <td>{{mapping.entity1}}</td>
        <td>{{mapping.relation}}</td>
        <td>{{mapping.entity2}}</td>
        <td class="numeric">{{mapping.measure}}</td>
      </ng2-md-datatable-row>
    </tbody>
  </ng2-md-datatable>
</div>